function Keyboard.init 0
push constant 24576
pop static 0
push constant 0
return
function Keyboard.keyPressed 1
push static 0
pop local 0
push constant 0
push local 0
add
pop pointer 1
push that 0
return
function Keyboard.readChar 1
push constant 0
call Output.printChar 1
pop temp 0
label WHILE_EXP0
call Keyboard.keyPressed 0
push constant 0
eq
not
if-goto WHILE_END0
goto WHILE_EXP0
label WHILE_END0
call Keyboard.keyPressed 0
pop local 0
label WHILE_EXP1
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END1
goto WHILE_EXP1
label WHILE_END1
call Output.backSpace 0
pop temp 0
push local 0
call Output.printChar 1
pop temp 0
push local 0
return
function Keyboard.readLine 7
push constant 0
pop local 4
push argument 0
call String.length 1
pop local 3
label WHILE_EXP0
push local 4
push local 3
lt
not
if-goto WHILE_END0
push argument 0
push local 4
call String.charAt 2
call Output.printChar 1
pop temp 0
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP0
label WHILE_END0
push constant 15
pop local 6
push constant 0
pop local 5
push local 6
call String.new 1
pop local 0
label WHILE_EXP1
push constant 0
not
not
if-goto WHILE_END1
call Keyboard.readChar 0
pop local 2
push local 2
push constant 128
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Output.println 0
pop temp 0
push local 0
return
label IF_FALSE0
push local 2
push constant 129
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 5
push constant 1
sub
pop local 5
push local 0
call String.eraseLastChar 1
pop temp 0
goto IF_END1
label IF_FALSE1
push local 5
push local 6
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 2
call String.appendChar 2
pop temp 0
push local 5
push constant 1
add
pop local 5
goto IF_END2
label IF_FALSE2
push local 6
push constant 15
add
call String.new 1
pop local 1
push local 6
push constant 15
add
pop local 6
push constant 0
pop local 4
push local 0
call String.length 1
pop local 3
label WHILE_EXP2
push local 4
push local 3
lt
not
if-goto WHILE_END2
push local 1
push local 0
push local 4
call String.charAt 2
call String.appendChar 2
pop temp 0
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP2
label WHILE_END2
push local 1
pop local 0
label IF_END2
label IF_END1
goto WHILE_EXP1
label WHILE_END1
push local 0
return
function Keyboard.readInt 14
push constant 0
pop local 8
push argument 0
call String.length 1
pop local 7
label WHILE_EXP0
push local 8
push local 7
lt
not
if-goto WHILE_END0
push argument 0
push local 8
call String.charAt 2
call Output.printChar 1
pop temp 0
push local 8
push constant 1
add
pop local 8
goto WHILE_EXP0
label WHILE_END0
push constant 15
pop local 11
push constant 0
pop local 10
push local 11
call Array.new 1
pop local 2
push constant 1
pop local 6
push constant 5
call Array.new 1
pop local 1
label WHILE_EXP1
push constant 0
not
not
if-goto WHILE_END1
call Keyboard.readChar 0
pop local 5
push local 5
push constant 128
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Output.println 0
pop temp 0
push constant 0
pop local 12
push constant 0
pop local 8
push constant 0
pop local 9
push constant 0
not
pop local 13
label WHILE_EXP2
push local 8
push local 10
lt
push local 13
and
not
if-goto WHILE_END2
push local 8
push local 2
add
pop pointer 1
push that 0
push constant 47
gt
push local 8
push local 2
add
pop pointer 1
push that 0
and
push constant 58
lt
pop local 13
push local 13
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 8
push local 1
add
push local 8
push local 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 9
push constant 1
add
pop local 9
push local 8
push constant 1
add
pop local 8
label IF_FALSE1
goto WHILE_EXP2
label WHILE_END2
push local 9
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 5
call Array.new 1
pop local 4
push constant 4
push local 4
add
push constant 10000
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 4
add
push constant 1000
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 4
add
push constant 100
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 4
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 4
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 8
push constant 0
pop local 0
label WHILE_EXP3
push local 8
push local 9
lt
not
if-goto WHILE_END3
push local 0
push local 8
push local 1
add
pop pointer 1
push that 0
push constant 48
sub
push local 9
push constant 1
sub
push local 8
sub
push local 4
add
pop pointer 1
push that 0
call Math.multiply 2
add
pop local 0
push local 8
push constant 1
add
pop local 8
goto WHILE_EXP3
label WHILE_END3
push local 0
push local 6
call Math.multiply 2
return
label IF_FALSE2
push constant 0
return
label IF_FALSE0
push local 5
push constant 129
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 10
push constant 1
sub
pop local 10
goto IF_END3
label IF_FALSE3
push local 10
push local 11
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 5
push constant 45
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 1
neg
pop local 6
goto IF_END5
label IF_FALSE5
push local 10
push local 2
add
push local 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 10
push constant 1
add
pop local 10
label IF_END5
goto IF_END4
label IF_FALSE4
push local 11
push constant 15
add
call Array.new 1
pop local 3
push local 11
push constant 15
add
pop local 11
push constant 0
pop local 8
label WHILE_EXP4
push local 8
push local 10
lt
not
if-goto WHILE_END4
push local 8
push local 3
add
push local 8
push local 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 8
push constant 1
add
pop local 8
goto WHILE_EXP4
label WHILE_END4
push local 3
pop local 2
label IF_END4
label IF_END3
goto WHILE_EXP1
label WHILE_END1
push local 0
return
