function Main.main 1
push constant 7000
pop local 0
push constant 9
push local 0
add
push constant 32767
call Math.sqrt 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
