function Random.lcg 5
push argument 0
pop local 3
push constant 9853
pop local 0
push constant 1540
pop local 1
push constant 32767
pop local 2
push local 0
push local 3
call Math.multiply 2
push local 1
add
push local 2
call MathUtils.modulus 2
pop local 3
push local 3
push argument 2
push argument 1
sub
push constant 1
add
call MathUtils.modulus 2
pop local 4
push argument 1
push constant 0
lt
push argument 2
or
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
call Sys.error 1
pop temp 0
label IF_FALSE0
push local 4
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
not
push constant 1
add
pop local 4
label IF_FALSE1
push local 4
push argument 1
add
pop local 4
push local 4
return
