function Main.main 1
push constant 3
call String.new 1
push constant 65
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 68
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
